.img-map
{
    display:flex;
    margin-top:4%;
    margin-left:15%;
    margin-bottom:2%;
}
.pic-contact img
{
    height:460px;
    padding-right:50px;
}
.map-contact iframe
{
    height:450px;
    width:500px;
}
.main-box{
    display:flex;
    padding:30px;
    text-align:justify;
}
.box1
{
    background:rgb(249, 247, 247) ;
    text-align:center;
    border:2px solid none;
    margin:2%;
    flex-basis:50%;
    font-size:18px;
    border-radius:5px; 
    padding:1%;
}
.box1 h2{
    padding-top:15px;
    padding-bottom:10px;
}
.icon-text{
    display:flex;
    padding:20px;
   padding-left:20%;
}
.icon1
{
    padding-top:5px;
    padding-right:12px;
}
.text1 h3{
    color:rgb(76, 89, 89);
    padding:8px;
}
.box1:hover{
    box-shadow:2px 2px 2px 3px rgb(178, 178, 178);  
}
.text1 p:hover
{
  color:orangered;
}
.text2 p:hover{
    color:orangered;
}
.icon-text2{
    display:flex;
    padding:20px;
   padding-left:19%;
}
.icon2
{
    padding-right:0px;
}
.text2 h3
{
    color:rgb(76, 89, 89);
   padding-left:0px;
}
.text2 p{
    padding-top:8px;
}
.icon-text3{
    display:flex;
    padding:20px;
   padding-left:18%;
}
.icon3
{
    padding-right:0px;
    padding-top:10px;
}
.text3 h3
{
   color:rgb(76, 89, 89);
   padding-left:0px;
   padding-top:10px;
   padding-bottom:10px;
}
.form
{
    text-align:center;
    background:rgb(249, 247, 247) ;
    margin-left:3%;
    margin-right:3%;
    border-radius:10px;
}
.form-1
{
    font-size:larger;
}
.form h2
{
    padding:25px 30px;
    font-size:35px;
}
.form-1 input{
    margin-right:2%;
    font-size:18px;
    border:5px solid white ;
    margin-bottom:3%;
    padding:15px 255px 10px 15px;
    border-radius:4px;
}
.form-1 textarea{
    padding:1% 27% 3% 3%;
    margin-bottom:3%;
    font-size:20px;
    border:2px solid white;
    border-radius:4px;
} 
.form-2 button
{
    padding:1% 32% 1% 32%;
    background:orangered;
    color:white;
    border:2px solid orangered;
    text-align:center;
    border-radius:4px;
    font-size:20px;

}
@media(max-width:700px)
{
    .img-map
{
    flex-direction: column;
    margin-top:5%;
    margin-left:6%;
    margin-bottom:2%;
}
.pic-contact img
{
    height:350px;
    padding-right:50px;
    flex-direction:column;
    padding-bottom:30px;
}
.map-contact iframe
{
 height:200;
 width:350px;
}.main-box{
    flex-direction:column;
}
.box1
{
    margin:5%;
    flex-basis:50%;
    padding-bottom:25px;
}
.box1 h2{
    padding-top:25px;
    padding-bottom:5px;
}
.icon-text{
    padding:15px;
   padding-left:15%;
}
.text1 h3{
    padding:6px;
}
.box1:hover{
    box-shadow:2px 2px 2px 3px rgb(178, 178, 178);  
}
.text1 p:hover
{
  color:orangered;
}
.text2 p:hover{
    color:orangered;
}
.icon-text2{
    padding:15px;
   padding-left:13%;
}
.icon-text3{
    padding:15px;
   padding-left:15%;
}
.form-1 input{
    margin-bottom:5%;
    padding:15px 60px 10px 15px;
}
.form-1 textarea{
    padding: 1% 3%;
    margin-bottom: 5%;
    width: 85%; 
} 
.form-2 button
{
    margin-bottom:20px;
}
}