* {
    margin: 0;
    padding: 0;
}
body
{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top_1_container {
    width: 100%;
    min-height:90vh;
    background-image: linear-gradient(rgba(0, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(campusbg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.top_2_container {
    display: flex;
}
.image {
    padding-top:3%;
    padding-left:8%;
    display: flex;
}
.image p {
    padding-left:1%;
    font-size: 30px;
    color: rgb(220, 231, 240);
    letter-spacing: 2px;
    padding-top: 1%;
   
}
nav {
    position: absolute;
    left:48%;
    top:72px; /* Adjust this value as needed */
}
.navlinks {
    flex: 1;
}
.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
.navlinks ul li a {
    color: rgb(220, 231, 240);
    font-size: larger;
    text-decoration: wavy;
}
.navlinks ul li a:hover {
    text-decoration: underline;
    color: rgba(125, 196, 255, 0.854);
}
.text-box {
    color: rgb(220, 231, 240);
    margin-top:8%;
    font-size: larger;
}
.visit-btn
{
    background: transparent;
    border:1px solid rgb(220, 231, 240) ;
    padding:8px;
    margin-right:8px;
    padding-left:30px;
    padding-right:30px;
    color:aliceblue;
    text-decoration: none;
}
.visit-btn:hover
{
 border:1px solid rgb(237, 59, 0);
 background-color:rgb(237, 59, 0);
}
.sub-option
{
    margin-top:0%;
    display:none;
}
.sub-option ul li
{
    list-style: none;
    padding:8px;
}
.sub-option ul li a{
    text-decoration: none;
    color:beige;
    font-size:20px;
}
.visit-btn:hover + .sub-option,.sub-option:hover
 {
    display: block;
    position:absolute;
    padding:30px;
    right:31%;
    background-color:rgb(237, 59, 0);
}
.sub-option ul li a:hover
   {
    color:black;
   }
@media (max-width: 700px) {
    .image {
        padding-left:30%;
        padding-top:15%;
        display:flex;
    }
    .image img {
        height: 40px; /* Adjust this value as needed */
    }
    .image p {
      
       padding-left:2%;
        font-size:20px;
        color:rgb(220, 231, 240);
        letter-spacing: 1px;
    }
    .text-box {
        font-size: 12px;
        margin-top:35%;
    }
    .text-box h1
    {
        margin-bottom:15px;
    }
    .visit-btn
    {
        font-size:15px;
    }
    .sub-option ul li
    {
        padding:6px;
    }
    .sub-option ul li a{
        font-size: 13px;
    }
    .visit-btn:hover + .sub-option,.sub-option:hover
    {
        padding:10px;
        right:-1px;
    }
    nav {
        position: absolute;
        left:1%;
        top:15px;
    }
    .navlinks ul li {
        display: inline-block;
        font-size:9px;
        padding-left:4px; /* Adjust this value as needed */
    }
}
