* {
    margin: 0;
    padding: 0;
}
body
{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top_1_container {
    width: 100%;
    min-height:90vh;
    background-image: linear-gradient(rgba(0, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(campusbg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.top_2_container {
    display: flex;
}
.image {
    padding-top:3%;
    padding-left:8%;
    display: flex;
}
.image p {
    padding-left:1%;
    font-size: 30px;
    color: rgb(220, 231, 240);
    letter-spacing: 2px;
    padding-top: 1%;
   
}
nav {
    position: absolute;
    left:48%;
    top:72px; /* Adjust this value as needed */
}
.navlinks {
    flex: 1;
}
.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
.navlinks ul li a {
    color: rgb(220, 231, 240);
    font-size: larger;
    text-decoration: wavy;
}
.navlinks ul li a:hover {
    text-decoration: underline;
    color: rgba(125, 196, 255, 0.854);
}
.text-box {
    color: rgb(220, 231, 240);
    margin-top:8%;
    font-size: larger;
    text-align:center;
}
.visit-btn
{
    background: transparent;
    border:1px solid rgb(220, 231, 240) ;
    padding:8px;
    margin-right:8x;
    padding-left:35px;
    padding-right:30px;
    color:aliceblue;
    text-decoration: none;
}
.visit-btn:hover
{
 border:1px solid rgb(237, 59, 0);
 background-color:rgb(237, 59, 0);
}
.sub-option
{
    margin-top:0%;
    display:none;
}
.sub-option ul li
{
    list-style: none;
    padding:8px;
}
.sub-option ul li a{
    text-decoration: none;
    color:beige;
    font-size:20px;
}
.visit-btn:hover + .sub-option,.sub-option:hover
 {
    display: block;
    position:absolute;
    padding:30px;
    right:31%;
    background-color:rgb(237, 59, 0);
}
.sub-option ul li a:hover
   {
    color:black;
   }
@media (max-width: 700px) {
    .image {
        padding-left:30%;
        padding-top:15%;
        display:flex;
    }
    .image img {
        height: 40px; /* Adjust this value as needed */
    }
    .image p {
      
       padding-left:2%;
        font-size:20px;
        color:rgb(220, 231, 240);
        letter-spacing: 1px;
    }
    .text-box {
        font-size: 12px;
        margin-top:35%;
    }
    .text-box h1
    {
        margin-bottom:15px;
    }
    .visit-btn
    {
        font-size:15px;
    }
    .sub-option ul li
    {
        padding:6px;
    }
    .sub-option ul li a{
        font-size: 13px;
    }
    .visit-btn:hover + .sub-option,.sub-option:hover
    {
        padding:10px;
        right:-1px;
    }
    nav {
        position: absolute;
        left:1%;
        top:15px;
    }
    .navlinks ul li {
        display: inline-block;
        font-size:9px;
        padding-left:4px; /* Adjust this value as needed */
    }
}
.img-map
{
    display:flex;
    margin-top:4%;
    margin-left:15%;
    margin-bottom:2%;
}
.pic-contact img
{
    height:460px;
    padding-right:50px;
}
.map-contact iframe
{
    height:450px;
    width:500px;
}
.main-box{
    display:flex;
    padding:30px;
    text-align:justify;
}
.box1
{
    background:rgb(249, 247, 247) ;
    text-align:center;
    border:2px solid none;
    margin:2%;
    flex-basis:50%;
    font-size:18px;
    border-radius:5px; 
    padding:1%;
}
.box1 h2{
    padding-top:15px;
    padding-bottom:10px;
}
.icon-text{
    display:flex;
    padding:20px;
   padding-left:20%;
}
.icon1
{
    padding-top:5px;
    padding-right:12px;
}
.text1 h3{
    color:rgb(76, 89, 89);
    padding:8px;
}
.box1:hover{
    box-shadow:2px 2px 2px 3px rgb(178, 178, 178);  
}
.text1 p:hover
{
  color:orangered;
}
.text2 p:hover{
    color:orangered;
}
.icon-text2{
    display:flex;
    padding:20px;
   padding-left:19%;
}
.icon2
{
    padding-right:0px;
}
.text2 h3
{
    color:rgb(76, 89, 89);
   padding-left:0px;
}
.text2 p{
    padding-top:8px;
}
.icon-text3{
    display:flex;
    padding:20px;
   padding-left:18%;
}
.icon3
{
    padding-right:0px;
    padding-top:10px;
}
.text3 h3
{
   color:rgb(76, 89, 89);
   padding-left:0px;
   padding-top:10px;
   padding-bottom:10px;
}
.form
{
    text-align:center;
    background:rgb(249, 247, 247) ;
    margin-left:3%;
    margin-right:3%;
    border-radius:10px;
}
.form-1
{
    font-size:larger;
}
.form h2
{
    padding:25px 30px;
    font-size:35px;
}
.form-1 input{
    margin-right:2%;
    font-size:18px;
    border:5px solid white ;
    margin-bottom:3%;
    padding:15px 255px 10px 15px;
    border-radius:4px;
}
.form-1 textarea{
    padding:1% 27% 3% 3%;
    margin-bottom:3%;
    font-size:20px;
    border:2px solid white;
    border-radius:4px;
} 
.form-2 button
{
    padding:1% 32% 1% 32%;
    background:orangered;
    color:white;
    border:2px solid orangered;
    text-align:center;
    border-radius:4px;
    font-size:20px;

}
@media(max-width:700px)
{
    .img-map
{
    flex-direction: column;
    margin-top:5%;
    margin-left:6%;
    margin-bottom:2%;
}
.pic-contact img
{
    height:350px;
    padding-right:50px;
    flex-direction:column;
    padding-bottom:30px;
}
.map-contact iframe
{
 height:200;
 width:350px;
}.main-box{
    flex-direction:column;
}
.box1
{
    margin:5%;
    flex-basis:50%;
    padding-bottom:25px;
}
.box1 h2{
    padding-top:25px;
    padding-bottom:5px;
}
.icon-text{
    padding:15px;
   padding-left:15%;
}
.text1 h3{
    padding:6px;
}
.box1:hover{
    box-shadow:2px 2px 2px 3px rgb(178, 178, 178);  
}
.text1 p:hover
{
  color:orangered;
}
.text2 p:hover{
    color:orangered;
}
.icon-text2{
    padding:15px;
   padding-left:13%;
}
.icon-text3{
    padding:15px;
   padding-left:15%;
}
.form-1 input{
    margin-bottom:5%;
    padding:15px 100px 10px 15px;
}
.form-1 textarea{
    padding: 1% 3%;
    margin-bottom: 5%;
    width: 85%; 
} 
.form-2 button
{
    margin-bottom:20px;
}

}
/*FOOTER*/
.foot
{   
    width:100%;
    background:linear-gradient(rgb(3, 11, 28),rgb(3, 11, 28));
    height:68vh;
}
.list
{
    display:flex;
    margin:40px 80px 50px 80px;
    text-align:center;
} 
.links-useful
{
    color:rgb(104, 103, 103);
}
.links-useful h3 
{
    padding:70px 30px 40px 15px;
}
.links-useful ul li 
{
 padding:16px 50px 16px 30px;
 font-size:20px;
 list-style:none;
}
.links-useful ul li a
{
  color:rgb(248, 230, 207);
   text-decoration:none;
}
.links-useful a
{
    color:rgb(244, 224, 198);
    text-decoration:none; 
    font-size:20px;
}
.links-useful p
{
    font-size:20px;
    padding-top:8px;
    padding-left:40px;
    color:rgb(253, 244, 232);
}
.links-useful p i
{
    margin-right:10px;
    font-size:25px;
}
.rule
{
    width:100%;
    background:linear-gradient(rgb(3, 11, 28),rgb(3, 11, 28));
    height:15vh;
    border-top:1px solid white;
    padding-top:22px;
}
.rule1{
    display:flex;
    justify-content: center;
    padding-left:15%;
}
.social
{
    padding-left:3%;
}
.social a img
{
    padding-left:20px;
    padding-top:20px;
}
.twenty-5 img
{
 padding-left:60px;
}
@media(max-width:700px)
{
    .foot
    {
       height:163vh;
       background-size:cover;
    }
    .list
   {
    display:block;
    margin:10px 40px 10px 30px;
    text-align:center;
   } 
   .links-useful h3 
   {
    padding:40px 30px 20px 20px;
    font-size:25px;
   }
   .links-useful ul li 
   {
    padding:10px 50px 0px 50px;
    font-size:12px;
    list-style:none;
  }
  .links-useful p
{
    font-size:18px;
    padding-top:6px;
    padding-left:20px;
    color:rgb(253, 244, 232);
}
.links-useful a
{
    font-size:18px;
}
.links-useful p i
{
    margin-right:10px;
    font-size:23px;
}
.rule1 img
{
   height:50px; 
} 
.rule1{
    display:block;
    padding-left:20%;
}
.social
{
    padding-left:20%;
    display:flex;
}
.social a img
{
    padding-left:10px;
    padding-top:10px;
    height:20px;
}
.twenty-5 img
{
padding-top:12px;
padding-left:100px;
width:50px;
}
.rule
{
    height:25vh;
}
}
